# ------------------------------------------------------
# 作業系統自動產生的檔案
# ------------------------------------------------------
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ------------------------------------------------------
# IDE / 編輯器的暫存資料
# ------------------------------------------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ------------------------------------------------------
# 環境檔 & 日誌檔
# ------------------------------------------------------
.env
.env.*
*.log

# ------------------------------------------------------
# Python / Node.js / Flutter 相關暫存
# ------------------------------------------------------
# Python
__pycache__/
*.py[cod]
*.so
venv/
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter (如果你是 Flutter 專案)
build/
.dart_tool/
.flutter-plugins
.packages

# ------------------------------------------------------
# Git 相關暫存
# ------------------------------------------------------
*.orig

config/
# ------------------------------------------------------
# 其他
# ------------------------------------------------------
# 自動備份產生的檔案
*~
*.bak
*.tmp
venv/


